.navbar {
  margin-bottom: 0;
  .navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  form.navbar-form.hidden-xs {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #f2f2f2;
    .btn {
      border-color: transparent;
      &:hover, &:active, &:focus {
        background: transparent;
      }
      i {
        color: $brand-primary;
      }
    }
    input.form-control {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      padding-left: 0 !important;
    }
  }
}

.jumbotron {
  background: $gray-mid;
  padding: 60px;
  margin-bottom: 60px;
  border-top: 1px solid darken($gray-mid, 10%);
  border-bottom: 1px solid darken($gray-mid, 10%);
  h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
  }
}

.breadcrumbs {
  padding: 30px 0;
  &, a {
    color: $gray;
  }
  a:hover {
    color: darken($gray, 10%);
    text-decoration: none;
  }
  span {
    margin-right: 10px;
  }
  span:not(:first-of-type) {
    margin-left: 10px;
  }
  hr {
    margin-bottom: 0;
  }
}
