#vskb-four, #vskb-three {
  ul {
    list-style-type: none;
  }
  .vskb-cat-name {
    border-bottom: none;
      a {
        color: $gray-dark !important;
        &:hover {
          color: darken($gray-dark, 25%) !important;
          text-decoration: underline;
        }
      }
    }
  .vskb-post-name {
    margin: 0 0 15px 0 !important;
    a {
      color: $gray;
      &:hover {
        color: $brand-primary !important;
      }
    }
  }
}
