article {
  h1.entry-title {
    font-size: 42px;
    font-weight: 300;
  }
  time, .byline {
    display: inline;
    color: $gray-light;
  }

  time {
    margin-right: 10px;
  }
}

.post-list {
  article {
    padding-bottom: 15px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #f2f2f2;
    }
    h2 > a {
      font-size: 20px;
      color: $gray !important;
    }
    .fa.fa-question-circle {
      margin-top: 45px;
    }
  }
}
